@{
    ViewBag.Title = "INTEGRANTES:";
}
<h2 class="text-center">@ViewBag.Title</h2>
<div class="container">
    <table class="table table-hover table-responsive table-condensed table-bordered">
        <thead>
            <tr>
                <th >Nombres</th>
                <th>Carnet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Corena Gómez, Mauricio Antonio</td>
                <td>25-4976-2015</td>
            </tr>
            <tr>
                <td>Chávez Ramírez, Kevin Adonay</td>
                <td>25-3138-2019</td>
            </tr>
            <tr>
                <td>Hernández Alvarado Jairo Arnoldo</td>
                <td>25-0520-2021</td>
            </tr>
            <tr>
                <td>Martínez Jovel, Manuel Enrique</td>
                <td>25-1368-2019</td>
            </tr>
            <tr>
                <td>Ruiz Alas, Herberth Steve</td>
                <td>25-2544-2021</td>
            </tr>
            <tr>
                <td>Rodríguez Zimmermann, Oscar Rene</td>
                <td>25-5679-2018</td>
            </tr>
            <tr>
                <td>Sánchez Marroquín, Edwin Eliseo</td>
                <td>25-2423-2021</td>
            </tr>
        </tbody>
    </table>
</div>

