@{
    ViewBag.Title = "Home Page";
}
<style>
    .lead{
        text-align: justify;
    }
    .row{
        margin-left:25px;
        margin-right:25px;
    }
    .text-justify {
        margin-left: 150px;
        margin-right: 150px;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">COMCA INTERNATIONAL</h1>
        <p class="lead">
            Es una empresa de soluciones logísticas en transporte y distribución que opera en El Salvador desde 1967.
            Se consolida como la empresa de capital nacional líder en el servicio de transporte, almacenaje y mudanzas.
            Actualmente COMCA cuenta con más de 55 años de experiencia en el mercado salvadoreño, gracias a las alianzas estratégicas con empresas
            de primer nivel y afiliación a diversas instituciones internacionales como IATA, IAM y LACMA que han permitido ofrecer un servicio
            de primer nivel con tarifas sumamente competitivas.<br />
            
        </p>
    </div>
</div>
<div class="row">
    <h2 class="text-center">Nuestros Servicios</h2>
    <h4 class="text-center">
        Ofrecemos 3 diferentes opciones para la exportación aérea, con la facilidad y confianza de ajustarse al tiempo y presupuesto requerido.<br />
    </h4>
    <div class="col-md-4">
        <p>
            <ol class="list-group">
                <li class="list-group-item">Puerta a Puerta</li>
                <li class="list-group-item">Puerta a Puerto</li>
                <li class="list-group-item">Puerto a Puerto</li>
                <li class="list-group-item">Puerto a Puerta</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <p class="text-justify">
            <ol class="list-group">
                <li class="list-group-item">Asesoría y seguimiento personalizado.</li>
                <li class="list-group-item">Tarifas competitivas.</li>
                <li class="list-group-item">Soluciones de transporte multimodal.</li>
                <li class="list-group-item">
                    Sistema de gestión de capacidad de carga  centralizado que selecciona las mejores rutas
                    y navieras.
                </li>
                <li class="list-group-item">
                    Tracking en tiempo real que le permitirá el status
                    y control de su carga.
                </li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <ol class="list-group">
                <li class="list-group-item">Puerta – Puerta</li>
                <li class="list-group-item">Puerta – Almacenadora</li>
                <li class="list-group-item">Almacenadora* – Almacenadora</li>
                <li class="list-group-item">Almacenadora* – Puerta</li>
            </ol>

        </p>
    </div>
</div>
